{% extends "content.html" %}

{% block title %}
Chats ({{user}})
{% end %}
{% block content %}
<div class="section">
  <div class="row">
    <div class="collection">
      {% for chat in chats %}
          <a href="/chats/{{chat.id}}" class="collection-item"> Chat {{chat.id}}</a>
      {% end %}
    </div>
  </div>
  <div class="row">
    <form class="col s12" action="/chat/add" method="post">
  {% module xsrf_form_html() %}
      <div class="row">
        <div class="col s12">
          <input type="hidden" name="new-chat" value="true" />
          <button class="btn blue" type="submit" name="action">
            New Chat
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% end %}
