{% extends "../content.html" %}

{% block title %}
{{ issue.subject }}
{% end %}
{% block content %}
<div class="section">
	<div class="row">
		<p> <b>{{ issue.author }}</b> at <em>{{ issue.date }}</em> </p>
	</div>
	<div class="row">
		<div class="col s12 m6">
			<p>
				{{ issue.description }}
      </p>
		</div>
		<div class="col s12 m6">
			<img class="responsive-img" src='data:image/bmp;base64,{{ issue.image }}'>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6">
			<p>
				<a onclick='close_issue({{issue.id}})' class='waves-effect waves-light btn-large blue'><i class='material-icons right'>check_circle</i>Close issue</a>
      </p>
		</div>
	</div>
</div>
{% end %}
